# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/github/gitignore/blob/main/Maven.gitignore
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
.classpath
.project
.plugin
.springBeans
.factorypath
.metadata/
.recommenders/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Logs
*.log

# Packaging
*.war
*.ear
*.zip
*.tar.gz
*.rar
